body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.page {
  max-width: 768px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #c4c4c4;
}
.header__text {
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 5px 7px 5px 8px;
  flex-direction: column;
  height: 100%;
}
.square {
  display: flex;
}
.square_large {
  padding: 30px 46px 53px 25px;
  background-color: #A2A9B7;
  margin: 5px;
  height: calc((100vw - 35px) / 733 * 492);
  width: calc((100vw - 35px) / 733 * 492);
  max-width: 492px;
  max-height: 492px;
}
.square_small {
  display: flex;
  flex-direction: column;
  width: calc((100vw - 35px) / 733 * 241);
  max-width: 241px;
}
.square_small_up {
  background-color: #A2A9B7;
  padding: 101px 15px 15px 15px;
  margin: 5px;
  width: 100%;
  height: 50%;
}
.square_small_down {
  background-color: #A2A9B7;
  padding: 101px 15px 15px 15px;
  margin: 5px;
  width: 100%;
  height: 50%;
}