body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000000;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.page {
  max-width: 768px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #c4c4c4;
}
.header__text {
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px 10px 13px;
  flex-direction: column;
}

.squares {
  width: 100%;
  height: 492px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.squares_big {
  height: 100%;
  background-color: #A2A9B7;
  width: 100%;
  flex: 2 1 492px;
  margin-right: 5px;
}
.squares_small {
  height: 100%;
  width: 100%;
  flex: 1 1 241px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
.squares_small_up {
  background-color: #A2A9B7;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}
.squares_small_down {
  background-color: #A2A9B7;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}
.rectangles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}
.rectangles_all {
  background-color: forestgreen;
  height: 155px;
  width: 100px;
  flex: 1 1 241px;
}
.rectangles__margin {
  margin-bottom: 10px;
}
.rectangles_small_up_left {
  margin: 0 5px 10px 0;
}
.rectangles_small_centr {
  margin: 0 5px 10px 5px;
}
.rectangles_small_up_right {
  margin: 0 0 10px 5px;
}
.rectangles_large {
  background-color: goldenrod;
  flex: 2 1 491px;
  margin-right: 5px;
}
.rectangles_small_down {
  margin-left: 5px;
}

.squiares_big_to-the-right {
  order: 2;

}
.squiares_small_to-the-left {
  order: 1;
}
/* .rectangle_down {
  background-color: goldenrod;
  height: 155px;
  width: 100px;
} */

/* .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #c4c4c4;
} */
